{% extends "base.html" %}

{% block content %}
<html>
    <head>
    <style>
    div.a {
      text-align: center;
    }
    </style>
    </head>

    <body>
    <div class="a">
    <h>Schedule Information</h>
    </div>
        <table border = 1>
        <thead>
            <td>id</td>
            <td>Date</td>
            <td>Time</td>
        </thead>

        {% for row in rows %}
            <tr>
                <td>{{row["id"]}}</td>
                <td>{{row["date"]}}</td>
                <td>{{row["time"]}}</td>
            </tr>
        {% endfor %}
        </table>
    </body>

    <body>
        <div class="a">
        <form action = "{{ url_for('input_rows') }}" method = "POST">

        Date<br>
        <input type = "text" name = "date" /><br>

        Time<br>
        <input type = "text" name = "time" /><br>

        <input type = "submit" value = "submit" /><br>
        </form>
        </div>
    </body>
</html>

{% endblock %}
